<center><h1>글 수정하기</h1>
	<table border="1">
		<tr align="center">
			<td><%= render 'form' %></td>
		</tr>
	</table>
<p>
	<%= link_to '돌아가기', @post %> |
	<%= link_to '리스트로', posts_path %>
</p>
</center>